[Unit]
Description=Payram payment gateway (Docker)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
EnvironmentFile=/root/payram/payram.env
TimeoutStartSec=300

ExecStartPre=-/usr/bin/docker stop payram-mainnet
ExecStartPre=-/usr/bin/docker rm payram-mainnet
ExecStartPre=/usr/local/bin/payram-wait-for-db 90

ExecStart=/usr/bin/docker run --rm \
  --name payram-mainnet \
  --publish 80:80 \
  --publish 5432:5432 \
  -e AES_KEY=${AES_KEY} \
  -e SSL_CERT_PATH= \
  -e BLOCKCHAIN_NETWORK_TYPE=mainnet \
  -e SERVER=PRODUCTION \
  -e POSTGRES_HOST=${POSTGRES_HOST} \
  -e POSTGRES_PORT=${POSTGRES_PORT} \
  -e POSTGRES_DATABASE=${POSTGRES_DATABASE} \
  -e POSTGRES_USERNAME=${POSTGRES_USERNAME} \
  -e POSTGRES_PASSWORD=${POSTGRES_PASSWORD} \
  -e POSTGRES_SSLMODE=${POSTGRES_SSLMODE} \
  -e PAYMENTS_APP_SERVER_URL=https://x.payram.com \
  -v /root/payram:/root/payram \
  -v /root/payram/log/supervisord:/var/log \
  -v /root/payram/db/postgres:/var/lib/payram/db/postgres \
  -v /etc/letsencrypt:/etc/letsencrypt \
  payramapp/payram:latest

ExecStop=/usr/bin/docker stop payram-mainnet

[Install]
WantedBy=multi-user.target
